# The configuration used to deploy the bot on the production server
# You can adapt it to create your own instance

version: '3.8'
services:
  bot:
    build: .
    restart: unless-stopped
    hostname: so-un-bot
    # change to your local DNS zone (can be safely removed if not needed)
    # for example: in the production server is pve-docer.net.mrlc.cc
    domainname: ${DNS_ZONE}
    pull_policy: build
    networks:
      - proxynet
    environment:
      # Leave /data unless you want to point to an external volume
      - DATA_PATH=/data
      # Should match the path defined in the volume mount (if you want it to persist)
      - ACL_PATH=/acl
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      # User id of the administrator user (will receive logs for errors)
      - TELEGRAM_ADMIN_ID=${TELEGRAM_ADMIN_ID}
    volumes:
      - ${ACL_DIR}:/acl